*/.settings/*
trustcodesignatureapp/gwt-unitCache/*
trustcodesignatureapp/src/com/pinguin/trustcode/public/*
trustcodesignatureapp/war/*
!trustcodesignatureapp/war/*.css
!trustcodesignatureapp/war/*.html
!trustcodesignatureapp/war/WEB-INF/web.xml
trustcodesignatureapp/test-classes/*